[project]
	description = Created for toolchain: https://console-regional.ng.bluemix.net/devops/toolchains/03d569c8-650b-436b-9cbc-7042c4788289
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ganesh Raut (ganeshraut008)
[access "refs/for/refs/*"]
	read = group user/Ganesh Raut (ganeshraut008)
	push = group user/Ganesh Raut (ganeshraut008)
	label-Code-Review = -2..+2 group user/Ganesh Raut (ganeshraut008)
	label-Verified = -1..+1 group user/Ganesh Raut (ganeshraut008)
	rebase = group user/Ganesh Raut (ganeshraut008)
	removeReviewer = group user/Ganesh Raut (ganeshraut008)
	submit = group user/Ganesh Raut (ganeshraut008)
[access "refs/heads/*"]
	read = group user/Ganesh Raut (ganeshraut008)
	create = group user/Ganesh Raut (ganeshraut008)
	push = +force group user/Ganesh Raut (ganeshraut008)
	pushMerge = group user/Ganesh Raut (ganeshraut008)
[access "refs/tags/*"]
	push = group user/Ganesh Raut (ganeshraut008)
	push = +force group user/Ganesh Raut (ganeshraut008)
